#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: auto;
  background-color: #191919;
}


.swiper-container {
  width: 100vw;
  height: 100vh;
}


.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.step {
  color: white;
  transform: skewX(-20deg);
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  display: inline-block;
  border-radius: 12px;
  font-style: 'Space Grotesk';
  background: #292929;
  width: 581.12px;
  height: 64px;


}


.box {
  width: 594px;
  height: 144px;
}

.clickcard-btn {
  margin-left: 200px;
  background-color: red !important;
  color: white !important;
  transform: scale(0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}

.no-skew {
  transform: skewX(20deg);
  display: flex;
  align-items: center;
}



.clip-left {
  transform: skewX(-20deg);
  padding: 12px 32px;
  width: 166.25px;
  height: 65px;
  background-color: #009FE3;
  position: relative;
  margin-right: -40px;
  z-index: 10;
  font-size: larger;
  font-style: 'Big Shoulders Display';
  font-weight: bold;
}

.clip-right {
  transform: skewX(-20deg);
  width: 166.25px;
  height: 65px;
  position: relative;
  font-size: large;
  margin-left: 10px;
  font-size: larger;
  font-style: 'Big Shoulders Display';
  font-weight: bold;
  background-color: #E30613;

}


.registration-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  text-align: left;
  color: white;
  margin-left: 100px;
}

.left {
  flex: 1;
  max-width: 40%;
  font-style: 'Space Grotesk';
  font-size: 16pt;
}

.right {
  flex: 1;
  max-width: 55%;
}

h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Big Shoulders Text', sans-serif;
  margin-left: 5px;
}


.number {
  font-size: 2rem;
  font-weight: bold;
  color: #00aaff;
  margin-right: 15px;
}






h3 {
  font-style: 'Space Grotesk';

}


.text {
  font-size: smaller;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.click-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.qr-code {
  width: 120px;
  height: 120px;
  z-index: 30;
  position: absolute;
  top: 55%;
  right: 200px;
  border-radius: 10%;
  transform: translateY(-50%);
}



.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}